@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Neucha&family=Potta+One&display=swap');

.pageContainer{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato';
    font-size: 30px;
}

.footer{
    height: 7%;
    width: 100%;
    background-color:  rgb(189, 92, 13);
    font-size: 4.65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hyperlinkColor{
    color: blue;
}

.taskBar{
    background-color: rgb(85, 42, 14);
    height: 7vh;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
 }

 .innerTaskBar{
    background-color: rgb(153, 74, 9);
    height: 6.3vh;
    width: 100vw;
    margin: auto;
    display: flex;
    padding: 0.4vh;
 }

 .taskBarLeft{
    height: 100%;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1.5vh;
    gap: 20vh;
 }
 
 .taskBarRight{
    height: 100%;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 1.5vh;
 }
 
 .basicText{
     background-color: rgb(153, 74, 9);
     height: 100%;
     width: 25%;
  }
 
 .input{
    border-radius: 1vh;
    height: 70%;
    width: 60%;
    border: none;
    font-size: 1.0rem;
    color: black;
    padding: 0em 1em;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
 }
