@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Neucha&family=Potta+One&display=swap');

.pageContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato';
    font-size: 30px;
}

.footer{
    height: 7%;
    width: 100%;
    background-color:  rgb(189, 92, 13);
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hyperlinkColor{
    color: blue;
}