@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Neucha&family=Potta+One&display=swap');

.pageContainer{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato';
    font-size: 30px;
}

.footer{
    height: 7%;
    width: 100%;
    background-color:  rgb(189, 92, 13);
    font-size: 4.65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hyperlinkColor{
    color: blue;
}

.box{
    background-color: rgb(85, 42, 14);
    height: 7vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
 }

 .innerBox{
    background-color: rgb(153, 74, 9);
    height: 90%;
    width: 100%;
    margin: auto;
    display: flex;
 }
 
 .basicText{
     background-color: rgb(153, 74, 9);
     height: 100%;
     width: 25%;
  }
 
 .input{
    border-radius: 1vh;
    height: 70%;
    width: 60%;
    border: none;
    font-size: 1.0rem;
    color: black;
    padding: 0em 1em;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
 }
