.createPostContainer{
    height: 93vh;
    width: 100vw;
    background-color: rgb(240, 148, 73);
    display: grid;
    place-items: center;
    grid-template-columns: auto;
    padding:20vh;
}

.inputBox{
  font-size: 1vw;
  width: 20vw; /* Set your desired width */
  height: 20vh; /* Set your desired height */
  border: 1px solid #ccc;
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px;
  white-space: pre-wrap;
  overflow-y: auto;
}