@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Neucha&family=Potta+One&display=swap');

.postPageContainer{
    height: 93vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    font-style: 'Lato', sans-serif;
}

.postPageLeft{
    width: 35%;
    height: 100%;
    max-width: 70%;
    background-color: rgb(240, 148, 73);
    display: flex;
    flex-direction: column;
    display: grid;
    place-items: center;
    padding-bottom: 5vh;
}

.postPageRight{
    font-size: 1vw;
    width: 35%;
    height: 100%;
    background-color: rgb(240, 148, 73);
    display: grid;
    place-items: center;
    grid-template-columns: auto;
    padding-left:3vw;
    padding-right:34vw;
    padding-bottom:35vh;
    padding-top: 2.5vh;
    
}

.postPageFarRight{
    font-size: 1vw;
    width: 30%;
    height: 100%;
    background-color: rgb(240, 148, 73);
    display: grid;
    place-items: center;
    padding-bottom: 15vh;
    gap:0vh;
}

.recipeBox{
    margin-top: 2vh;
    font-size: 1vw;
    width: 30vw;
    height: 55vh;
    
    border: solid;
    border-width: .2vh;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    box-shadow: 0px 0px 9px 12px rgba(0, 0, 0, 0.2);
}

.adjustRecipeMenu{
    font-size: 1vw;
    width: 30vw;
    height: 30vh;
    background-color: rgb(240, 148, 73);
    margin-top: 4vh;
}

.postContainer2 { 
    width: 27vw;
    height: 80vh;
    padding: 1%;
    margin: 0.5%;
    border: solid;
    border-width: 0.1vw;
    border-radius: 0.8vw;
    font-size: 2vh;
    background-color: rgb(231, 222, 222);
    box-shadow: 0px 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.adjustRecipeLabel {
    color: black;
    font-weight: 800;
}

.commentButton{
    color:black;
    font-weight: 800;
}

.buttonText{
    color:white;
    font-style:bold;
}

.commentDisplayBox{
    margin-top: 4.5vh;
    font-size: 1vw;
    width: 25vw;
    height: 55vh;
    
    border: solid;
    border-width: .2vh;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    box-shadow: 0px 0px 9px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding: 1vh;
}

.commentBox{
    margin-top:3vh;
    width: 25vw;
    height: 15vh;
    border: solid;
    border-width: 0.1vw;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.2);
}