.postPageContainer{
    height: 93vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.postPageLeft{
    width: 50%;
    height: 100%;
    min-width: 32%;
    max-width: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.postPageRight{
    font-size: 1vw;
    width: 50%;
    height: 100%;
    background-color: blue;
    min-width: 32%;
    max-width: 50%;
    width: fit-content;
    overflow:auto;
}

.postPageRight2{
    font-size: 1vw;
    width: 33%;
    height: 100%;
    background-color: rgb(175, 22, 162);
    min-width: 33%;
    width: fit-content;
    overflow:auto;
}

.recipe{

}

.postContainer2 { 
    width: 90%;
    height: 850px;
    padding: 1%;
    margin: 0.5%;
    
    border-width: 0.1vw;
    border-radius: 0.8vw;
    font-size: 2vh;
    background-color: rgb(231, 222, 222);
    
}